In [1]:
import numpy as np

## Create Numpy Array

In [2]:
arr = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [3]:
arr[0]

array([1, 2, 3, 4])

In [4]:
arr = np.zeros(3)
arr

array([0., 0., 0.])

In [5]:
arr = np.ones(3)
arr

array([1., 1., 1.])

In [6]:
arr = np.empty(3)
arr

array([1., 1., 1.])

In [7]:
arr = np.arange(3)
arr

array([0, 1, 2])

In [8]:
arr = np.arange(2,10,2)
arr

array([2, 4, 6, 8])

In [9]:
arr = np.linspace(0,10,5)
arr

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

## Data Type Array

In [10]:
arr = np.ones(2, dtype=np.int)
arr

array([1, 1])

In [11]:
arr = np.ones(2, dtype=np.int8)
arr

array([1, 1], dtype=int8)

In [12]:
arr = np.ones(2, dtype=np.float32)
arr

array([1., 1.], dtype=float32)

In [13]:
arr = np.ones(2, dtype=np.bool)
arr

array([ True,  True])

## Add, Remove and Sort Array

In [14]:
arr = np.array([1, 2, 3])
arr = np.append(arr, [4,5])
arr

array([1, 2, 3, 4, 5])

In [15]:
arr = np.array([1, 2, 3])
arr = np.delete(arr, 2)
arr

array([1, 2])

In [16]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
arr = np.sort(arr)
arr

array([1, 2, 3, 4, 5, 6, 7, 8])

## Shape & Size Array

In [17]:
arr = np.array([[[0, 1, 2, 3], [4, 5, 6, 7]],
                [[0, 1, 2, 3], [4, 5, 6, 7]], 
                [[0 ,1 ,2, 3], [4, 5, 6, 7]]])

arr.shape

(3, 2, 4)

In [18]:
arr.ndim

3

In [19]:
arr.size

24

## Reshape Array

In [20]:
arr = np.arange(6)
arr

array([0, 1, 2, 3, 4, 5])

In [21]:
reshaped_arr = arr.reshape(3,2)
reshaped_arr

array([[0, 1],
       [2, 3],
       [4, 5]])

In [22]:
reshaped_arr = np.reshape(arr, (3, 2))
reshaped_arr

array([[0, 1],
       [2, 3],
       [4, 5]])

## Convert 1D Array into 2D Array

In [23]:
arr = np.array([1, 2, 3, 4, 5, 6])
arr.shape

(6,)

In [24]:
converted_arr = arr[np.newaxis]
converted_arr.shape

(1, 6)

In [25]:
converted_arr = arr[np.newaxis, :]
converted_arr.shape

(1, 6)

In [26]:
converted_arr = arr[:, np.newaxis]
converted_arr.shape

(6, 1)

In [27]:
converted_arr = np.expand_dims(arr, axis=1)
converted_arr.shape

(6, 1)

In [28]:
converted_arr = np.expand_dims(arr, axis=0)
converted_arr.shape

(1, 6)

## Index and Slice Array

In [29]:
arr = np.array([1,2,3])
arr[0]

1

In [30]:
arr = np.array([1,2,3])
arr[0:2]

array([1, 2])

In [31]:
arr = np.array([1,2,3])
arr[-2:]

array([2, 3])

In [32]:
arr = np.array([[1 , 2, 3, 4], 
                [5, 6, 7, 8], 
                [9, 10, 11, 12]])

In [33]:
arr[arr<5]

array([1, 2, 3, 4])

In [34]:
arr[arr >= 5]

array([ 5,  6,  7,  8,  9, 10, 11, 12])

In [35]:
arr[arr%2==0]

array([ 2,  4,  6,  8, 10, 12])

In [36]:
arr[(arr > 2) & (arr < 11)]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [37]:
(arr > 5) | (arr == 5)

array([[False, False, False, False],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [38]:
np.where(arr<5)

(array([0, 0, 0, 0]), array([0, 1, 2, 3]))

In [39]:
arr[np.where(arr<5)]

array([1, 2, 3, 4])

In [40]:
np.where(arr == 42)

(array([], dtype=int64), array([], dtype=int64))

In [41]:
arr[np.where(arr == 42)]

array([], dtype=int64)

## Create New Array

In [42]:
arr1 = np.array([[1, 1], [2, 2]])

In [43]:
arr2 = np.array([[3, 3], [4, 4]])

In [44]:
new_arr = np.vstack((arr1, arr2))
new_arr # shape: (4, 2)

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [45]:
new_arr = np.hstack((arr1, arr2))
new_arr # shape: (2, 4)

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

In [46]:
arr = np.array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], 
                [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [47]:
new_arr = np.hsplit(arr,2)
new_arr # 2 length

[array([[ 1,  2,  3,  4,  5,  6],
        [13, 14, 15, 16, 17, 18]]), array([[ 7,  8,  9, 10, 11, 12],
        [19, 20, 21, 22, 23, 24]])]

In [48]:
new_arr = np.hsplit(arr,(3,4))
new_arr

[array([[ 1,  2,  3],
        [13, 14, 15]]), array([[ 4],
        [16]]), array([[ 5,  6,  7,  8,  9, 10, 11, 12],
        [17, 18, 19, 20, 21, 22, 23, 24]])]

In [49]:
arr = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [50]:
new_arr = arr.view()
new_arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [51]:
new_arr = arr.copy()
new_arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

Credits to: [towardsdatascience.com](https://towardsdatascience.com/the-ultimate-beginners-guide-to-numpy-f5a2f99aef54)

---